.about {
    width: 100%;
    margin-bottom: 20px;

    .content {
        display: flex;

        p {
            font-family: Helvetica Neue;
            font-style: normal;
            font-weight: normal;
            font-size: 27px;
            line-height: 32px;
            
            color: #019C9D;

            margin-left: 10%;
        }
    }
}